
.lazy-asset {
	position: relative;

	.lazy-asset-background {
		position: relative;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.on-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	// CONTAIN
	&.lazy-asset-contain {
		display: flex;
		justify-content: center;
		align-items: center;

		.content-container {
			background-color: lightgrey;
			position: relative;
		}
	}

	// ASPECT RATIO
	&.lazy-asset-aspect-ratio {

		svg.placeholder {

			// width: 100%;
			// height: auto;
			
			background-color: lightgrey;

			overflow: hidden;

			max-width: 100%;
			max-height:100%;

			height: auto;
			width:auto;
		}

		.content-container {
			background-color: lightgrey;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	// COVER
	&.lazy-asset-cover {
		background-color: lightgrey;

		.lazy-asset-video {
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			video {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
				object-position: 50% 50%;
			}
		}
	}

}

// Background colors
// .lazy-asset {

// 	&.dark-background {

// 		&.lazy-asset-aspect-ratio svg {
// 			background-color: $color-background-grey;
// 		}

// 		&.lazy-asset-contain svg {
// 			background-color: $color-background-grey;
// 		}

// 		&.lazy-asset-cover {
// 			background-color: $color-background-grey;
// 		}

// 	}

// }