@import "../lazy-asset";

html, body {
    -webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
	padding-bottom: 100px;
}

.photo-cover {
	width: 800px;
	height: 600px;
}

.photo-aspect-ratio {
	margin-top: 50px;
	width: 400px;
}

.photo-contain {
	margin-top: 50px;
	width: 600px;
	height: 600px;
	background-color: black;
}

.video {
	margin-top: 50px;
	width: 800px;
	height: 600px;
	overflow: hidden;
}